fail_fast: false
default_language_version:
    python: python3
default_stages:
    - commit
    - push
minimum_pre_commit_version: 2.9.3
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.6.3
      hooks:
          - id: ruff
            types_or: [python, pyi, jupyter]
            args: [--fix, --exit-non-zero-on-fix]
          - id: ruff-format
            types_or: [python, pyi, jupyter]
    - repo: https://github.com/asottile/blacken-docs
      rev: 1.18.0
      hooks:
          - id: blacken-docs
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.11.2
      hooks:
          - id: mypy
            additional_dependencies: [numpy, pandas, types-requests]
            exclude: .scripts/ci/download_data.py|squidpy/datasets/_(dataset|image).py # See https://github.com/
