fail_fast: false
default_language_version:
    python: python3
default_stages:
-   commit
-   push
minimum_pre_commit_version: 2.9.0
repos:
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        additional_dependencies: [numpy>=1.15.0, scipy>=1.5.0, pandas]
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        additional_dependencies: [toml]
-   repo: https://github.com/timothycrosley/isort
    rev: 5.7.0
    hooks:
    -   id: isort
        additional_dependencies: [toml]
        args: [--order-by-type]
-   repo: https://github.com/asottile/yesqa
    rev: v1.2.2
    hooks:
    -   id: yesqa
        additional_dependencies: [flake8-tidy-imports, flake8-docstrings, flake8-rst-docstrings, flake8-comprehensions, flake8-bugbear, flake8-logging-format, flake8-blind-except, flake8-builtins, flake8-pytest-style, flake8-mock, flake8-string-format]
-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v1.6.1
    hooks:
    -   id: pretty-format-yaml
        args: [--autofix, --indent, '4']
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: detect-private-key
    -   id: no-commit-to-branch
    -   id: check-merge-conflict
    -   id: check-ast
    -   id: check-symlinks
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: trailing-whitespace
    -   id: name-tests-test
        args: [--django]
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: check-toml
    -   id: requirements-txt-fixer
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: [--in-place, --remove-all-unused-imports, --remove-unused-variable, --ignore-init-module-imports]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-tidy-imports, flake8-docstrings, flake8-rst-docstrings, flake8-comprehensions, flake8-bugbear, flake8-logging-format, flake8-blind-except, flake8-builtins, flake8-pytest-style, flake8-mock, flake8-string-format]
-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
    -   id: script-must-have-extension
        name: Check executable files use .sh extension
        types: [shell, executable]
    -   id: shellcheck
-   repo: https://github.com/myint/rstcheck
    rev: master
    hooks:
    -   id: rstcheck
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.9.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py3-plus, --py37-plus]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: python-no-eval
    -   id: python-use-type-annotations
    -   id: python-check-blanket-noqa
    -   id: rst-backticks
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal
-   repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
    -   id: doc8
