fail_fast: false
default_language_version:
    python: python3
default_stages:
    - commit
    - push
minimum_pre_commit_version: 2.9.3
repos:
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.8.0
      hooks:
          - id: mypy
            additional_dependencies: [numpy, pandas, types-requests]
            exclude: .scripts/ci/download_data.py|squidpy/datasets/_(dataset|image).py # See https://github.com/pre-commit/mirrors-mypy/issues/33
    - repo: https://github.com/psf/black
      rev: 24.1.1
      hooks:
          - id: black
            additional_dependencies: [toml]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: detect-private-key
          - id: check-merge-conflict
          - id: check-ast
          - id: check-symlinks
          - id: check-added-large-files
          - id: check-executables-have-shebangs
          - id: fix-encoding-pragma
            args: [--remove]
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: trailing-whitespace
            exclude: ^.bumpversion.cfg$
          - id: name-tests-test
            args: [--django]
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-yaml
          - id: check-toml
          - id: requirements-txt-fixer
    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: script-must-have-extension
            name: Check executable files use .sh extension
            types: [shell, executable]
    - repo: https://github.com/asottile/blacken-docs
      rev: 1.16.0
      hooks:
          - id: blacken-docs
    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.2.0
      hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
          - id: python-no-eval
          - id: python-use-type-annotations
          - id: python-check-blanket-noqa
          - id: rst-backticks
          - id: rst-directive-colons
          - id: rst-inline-touching-normal
