include requirements.txt
include LICENSE
include README.rst
include tox.ini

prune tests/_data
prune tests/_images
prune docs
prune resources
prune .scripts
prune .github

include docs/requirements.txt
