[build-system]
requires = ['setuptools', 'setuptools_scm']
build-backend = 'setuptools.build_meta'

[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/

)
'''

[tool.isort]
profile = "black"
py_version = "38"
skip = "docs/source/conf.py,.tox,build"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
known_stdlib = "joblib"
known_bio = "anndata,scanpy"
known_num = "numpy,numba,scipy,sklearn,statsmodels,pandas,xarray,dask"
known_plot = "matplotlib,seaborn,napari"
known_gui = "PyQt5,superqt"
known_img = "skimage,tifffile,dask_image"
known_graph = "networkx"
sections = "FUTURE,STDLIB,THIRDPARTY,BIO,NUM,GUI,PLOT,IMG,GRAPH,FIRSTPARTY,LOCALFOLDER"
no_lines_before="LOCALFOLDER"
balanced_wrapping = true
force_grid_wrap = 0
length_sort = "1"
indent = "    "
from_first = true
order_by_type = true
atomic = true
combine_star = true
combine_as_imports = true
honor_noqa = true
remove_redundant_aliases = true
only_modified = true
group_by_package = true
force_alphabetical_sort_within_sections = true
lexicographical = true

[tool.towncrier]
package = "squidpy"
single_file = true
filename = "docs/source/release/notes-{version}.rst"
directory = "docs/source/release/changelog"
issue_format = "`#{issue} <https://github.com/theislab/squidpy/pull/{issue}>`__"
template = "docs/source/release/changelog/template.rst"
underlines = ["~", "-"]
all_bullets = true

[[tool.towncrier.type]]
directory = "feature"
name = "Features"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name = "Bugfixes"
showcontent = true

[[tool.towncrier.type]]
directory = "deprecation"
name = "Deprecations (in next major release)"
showcontent = true

[[tool.towncrier.type]]
directory = "misc"
name = "Miscellaneous"
showcontent = true

[[tool.towncrier.type]]
directory = "doc"
name = "Documentation"
showcontent = true
