.small {
    font-size: 55%;
}

div.version {
    color: #FFD92C!important;
}

.wy-nav-side {
    background: #242335;
}

.wy-side-nav-search {
    background-color: #242335;
}

.wy-side-nav-search input[type="text"] {
    border-radius: 6px!important;
}

.wy-nav-content {
    max-width: 950px;
}

.wy-menu-vertical a {
    color: #eceef4;
}

.wy-menu-vertical li.current {
    background: #f1f5fb;
}

.wy-menu-vertical li.toctree-l2.current > a {
    background: #34377d2e;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: #34377d4a;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background: #34377d7d;
}

.wy-menu-vertical a:hover {
    background-color: #6b86b0;
}

.wy-menu-vertical li.current a:hover {
    background: #bdcde6a3;
}

a {
    color: #5B64B1;
}

.rst-content .viewcode-link {
    color: #7013e1d9;
}

.highlight {
    background: #f1f5fb!important;
}

.rst-content div[class^="highlight"] {
    border: 1px solid #e4eaf2;
}

.wy-menu-vertical p.caption {
    color: #FFD92C;
}

div.output_subarea.output_html.rendered_html.output_result{
    overflow: auto;
}

/* function/class top bar */
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt {
    color: #404040;
    border-top: solid 4px #7013e1d9;
    background: #FFD833A8;
}

/* class params */
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list) > dt {
    color: #404040;
    border-left: solid 4px #7013e1d9;
    background: #FFD8338F;
}

/* the other elements, but more specific - leave them be */
code.docutils.literal.notranslate > span[class="pre"] {
    font-weight: bold;
    color: #404040;
}

/* odd rows in API */
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #f6f6f3;
}

.rst-content div[class^="highlight"] pre {
    padding: 8px;
}

.rst-content .seealso {
    background: #fafae2!important;
}

.rst-content .seealso .admonition-title {
    background: #7013e1d9!important;
}
