div.nbinput.container div.prompt,
div.nboutput.container div.prompt {
    display: none;
}

div.nbinput.container div.prompt > div.highlight,
div.nboutput.container div.prompt > div.highlight {
    display: none;
}

div.nbinput.container div.input_area div[class*="highlight"] > pre,
div.nboutput.container div.output_area div[class*="highlight"] > pre {
    padding: 8px!important;
}

div.nboutput.container div.output_area > div[class^="highlight"] {
    background-color: #fafae2!important;
}

.rst-content .output_area img {
    max-width: unset;
    width: 100% !important;
    height: auto !important;
}
