div.sphx-glr-download a[href$=".py"] {
    display: none !important;
}

div.sphx-glr-download-link-note {
   display: none !important;
}

p.sphx-glr-signature {
   display: none !important;
}

.wy-nav-content { max-width: 950px }
