ipython
ipywidgets>=8.0.0
myst-nb>=0.17.1
nbsphinx>=0.8.1
sphinx>=5.1.1
sphinx-autodoc-annotation
sphinx-autodoc-typehints>=1.10.3
sphinx_copybutton>=0.5.0
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.3.0
sphinxcontrib-spelling>=7.6.2
