-r ../requirements.txt
gitpython
ipython
Jinja2<3.1.0  # https://github.com/spatialaudio/nbsphinx/issues/641
# very slow build
nbsphinx>=0.8.1,<0.8.7
pyenchant>=3.1.1
requests
sphinx>=4,<4.0.3  # https://github.com/spatialaudio/nbsphinx/issues/584
sphinx-autodoc-annotation
sphinx-autodoc-typehints>=1.10.3
sphinx_gallery>=0.8.2
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.2.0
sphinxcontrib-spelling
