name: News

on:
    pull_request_target:
        branches: [main, dev]
        types: [closed]

jobs:
    news:
        if: ${{ github.event.pull_request.merged }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.TOWNCRIER_TOKEN }}
                  fetch-depth: 0
            - name: Set up Python 3.9
              uses: actions/setup-python@v2
              with:
                  python-version: 3.9

            - name: Install dependencies
              run: |
                  sudo apt install pandoc
                  python -m pip install --upgrade pip
                  pip install tox

            - name: Update dev release notes
              env:
                  PR_NUMBER: ${{ github.event.number }}
              run: |
                  tox -e news -- "$PR_NUMBER" --add-author -v
                  tox -e update-dev-notes
                  git add "docs/source/changelog/$PR_NUMBER*.rst"
                  git status -s

            - name: Check generated docs
              run: |
                  tox -e check-docs

            - name: Commit dev release notes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: ${{ format('[auto][ci skip] Update release notes (#{0})', github.event.number) }}
                  branch: ${{ github.base_ref }}
                  file_pattern: docs/source/release/notes-dev.rst
                  commit_user_name: CI
                  skip_dirty_check: false
