name: News

on:
    pull_request:
        branches: [master, dev]
        types: [closed]

jobs:
    news:
        if: ${{ github.event.pull_request.merged }}
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
            with:
                token: ${{ secrets.TOWNCRIER_TOKEN }}
        -   name: Set up Python 3.9
            uses: actions/setup-python@v2
            with:
                python-version: 3.9

        -   name: Install dependencies
            run: |
                sudo apt install pandoc
                python -m pip install --upgrade pip
                pip install tox

        -   name: Generate news fragment
            env:
                PR_NUMBER: ${{ github.event.number }}
            run: |
                tox -e news -- "$PR_NUMBER" -v
                tox -e check-docs

        -   name: Commit news fragment
            uses: stefanzweifel/git-auto-commit-action@v4
            with:
                commit_message: ${{ format('[auto][ci skip] Generate news fragment (#{0})', github.event.number) }}
                branch: ${{ github.base_ref }}
                file_pattern: docs/source/release/changelog/*.rst
                commit_user_name: CI
                skip_dirty_check: false

        -   name: Update dev release notes
            if: ${{ steps.auto-commit-action.outputs.changes_detected == 'true' && contains(github.base_ref, 'dev') }}
            run: |
                tox -e update-dev-notes

        -   name: Commit dev release notes
            if: ${{ steps.auto-commit-action.outputs.changes_detected == 'true' && contains(github.base_ref, 'dev') }}
            uses: stefanzweifel/git-auto-commit-action@v4
            with:
                commit_message: ${{ format('[auto][ci skip] Update dev release notes (#{0})', github.event.number) }}
                branch: ${{ github.base_ref }}
                file_pattern: docs/source/release/notes-dev.rst
                commit_user_name: CI
                skip_dirty_check: false
