name: Release

on:
    release:
        types: [published]

jobs:
    package_and_release:
        runs-on: ubuntu-latest
        if: startsWith(github.ref, 'refs/tags/v')
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"
                  cache: pip
            - name: Install build dependencies
              run: python -m pip install --upgrade pip wheel twine build
            - name: Build package
              run: python -m build
            - name: Check package
              run: twine check --strict dist/*.whl
            - name: Install hatch
              run: pip install hatch
            - name: Build project for distribution
              run: hatch build
            - name: Publish a Python distribution to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  password: ${{ secrets.PYPI_API_TOKEN }}